.melts{
	position: absolute;
	width: 100%;
	height: auto;
	margin: 0;
	top:0;
	bottom: 0;
	background: image-url('raisins.jpeg') center no-repeat fixed;
	background-size: cover;
}

.title{
	color: #fefefe;
}

.intro{
	color: #fefefe;
	font-size: 16pt;
}

.filtre{
	position: absolute;
	width: 100%;
	height: auto;
	margin: 0;
	top:0;
	bottom: 0;
	background-color: black;
	opacity: 0.6;	 
}