.logo{
	display: block;
	margin: -1px;
	margin-left:-20px;
	margin-right: 10px;
	height: 58px;
	width: 250px;
	float: left;
	background: #49c5fc;
	background-image: url('fruitter_logo.png');
	background-size: auto 45px;
	color: transparent;
	background-repeat: no-repeat;
	background-position: 20px 14px;
}
.logo:hover{
	color: transparent;
}
.navbar{
	height: 70px;
	background-color: #49C5FC;
	border: none;
	border-radius: none !important;
}
.nav li a{
	margin-top: 10px;
	color: white !important;
}
.navbar-brand{
	margin-top: 10px;
	color: white !important;
}
.nav-active{
	background-color: #49C5FC !important;
	border-bottom: 2px solid white;
}